body {
background-color:#A599B5; 
}
ul{
  list-style-type: none; 
  background-color: none;
  width: 100%; 
  overflow: hidden; 
  position: fixed; 
  text-align: center; 
  left: 0;
  top: 0; 
  margin: 0; 
}
li{
  float: left;
}
li a{
  font-size: 23px;
  display: block;
  color: white; 
  text-decoration: none; 
  padding: 15px 50px;
  border-style: none; 
  font-family: "Courier New"; 
}
li a:hover{
  background-color: antiquewhite; 
  color: black;
}
h1 {
  font-family: "Nunito";
  color: white; 
}
